<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>Headmaster2</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Headmaster Homepage!</h1>
  <a href="localhost:3000/cohorts">All Cohorts</a>
  <main>{{{cohortsListHTML}}}</main>

{{! Create New Cohort Form }}
  <form action="/cohorts" method="post">
    <label>Cohort title:</label>
    <input type="text" name="title" />

    <label>Slug:</label>
    <input type="text" name="slug" />

    <button type="submit">Add Cohort</button>
  </form>

{{! Find Student by id Form }}
  <form id="student-id-form" action="" method="GET" onSubmit="return searchById()">
    <label>Student id:</label>
    <input type="text" name="student-id" id="id-value"/>
    <button type="submit">Search</button>
  </form>

  <script>
    function searchById () {
      let id = document.getElementById('id-value').value;
      location.href = '/students/' + id;
      return false;
    }
  </script>

</body>

</html>
